body{
    background-image: url(brick.jpg);
    padding: 30px;
}

.section1{
    text-align: center;
    padding-right: 50px;
    padding-top: 5px;
    background-color: beige;
    border: 3px rgb(119, 0, 0) solid;
    line-height: 0.75;
    font-family: "Monotype Corsiva";
    font-size: 18px;
    color: rgb(176, 0, 82);
}

.section1 img{
    padding-left: 15px;
}

.section1 h1{
    padding-right: 180px;
    font-family: "Lucida Handwriting";
    font-size: 30px;
    color: black;
}

.description{
    background-color: antiquewhite;
    font-family: "Cambria";
    padding: 5px;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 17px;
}

fieldset{
    border: 2px rgb(119, 0, 0) solid;
}

legend{
    font-size: 28px;
    font-family: "Segoe Script";
    font-weight: bold;
    color:rgb(91, 0, 0)
}

table{
    margin-left: auto;
    margin-right: auto;
}


th, td{
    border: 1px solid rgba(0,0,0,0.8);
    border-collapse: collapse;
    text-align: center;
}

th, h3{
    font-family: "Garamond";
    color:rgb(192, 0, 125);
    font-weight: bold;
}

td{
    background-color:rgba(255, 192, 203, 0.45);
}

th:hover{
    background-color:rgba(254, 177, 189, 0.45);
}

td:hover{
    background-color:rgba(255, 76, 106, 0.45);
}

.section2{
    background-color: antiquewhite;
    font-family: "Cambria";
    padding: 5px;
    padding-bottom: 10px;
    font-size: 17px;
}

.section3{
    background-color: antiquewhite;
    padding: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 17px;
}

a{
    font-family: "Times New Roman";
    color: rgb(91, 0, 0);
}

a:active, a:visited{
    color: rgb(103, 24, 0);
}
a:hover{
    color: rgb(86, 85, 167)
}

footer img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

@media screen and (min-width: 555px) and (max-width:662px){
    .ella{
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width:501px) and (max-width:555px){
    .section1{
        text-align: center;
    }
}


@media screen and (max-width: 500px) {
    .section1{
        line-height: 1.0;
        text-align: justify;
        padding: 5px;
        font-size: 12px;
        
    }

    .section1 h1{
        text-align: center;
        font-size: 20px;
    }

    .ella{
        width: 125px;
        height: 125px;
    }
}


@media screen and (max-width:690px){
    th{
        display: none;
    }
    td{
        display: grid;
        border-collapse: collapse;
        grid-template-columns: 15ch auto;
    }

    td::before{
        content: attr(datacell) ": ";
        font-weight: bold;
        color:rgb(192, 0, 125);
        font-family: "Garamond";
    }
}
  
