body{
    background-image: url(brick.png);
    padding: 20px;
}

.header{
    text-align: center;
    line-height: 0.75;
    padding: 5px;
    background-color: rgba(255, 244, 248, 0.5);
    /*border: 3px rgb(119, 0, 0) solid;*/
    line-height: 0.75;
    font-family: "Cambria";
    font-size: 20px;
    color: rgb(176, 0, 82);
}

.topnav {
    overflow: hidden;
    background-color: rgba(225, 175, 175, 0.596);
  }
  
  
.topnav a {
    float: left;
    display: block;
    color: rgb(83, 53, 53);
    font-family: 'Arial';
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

.topnav a:hover {
    color: #f2f2f2;
    background-color: #966969;
}

.topnav .active{
    color: #ffffff;
    background-color: #505050;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
}

.flexcontainer1{
    align-items: flex-end;
}

.flexcontainer2{
    align-items: flex-end;
}

.flexcontainer1, .flexcontainer2{
    flex: 1;
}

.content_general{
    background-color: rgba(237, 218, 205, 0.529);
    font-family: "cambria";
    padding: 5px;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 20px;
}

fieldset{
    border: none;
}

legend{
    font-size: 28px;
    font-family: "Segoe Script";
    font-weight: bold;
    color:rgb(91, 0, 0)
}

table{
    margin-left: auto;
    margin-right: auto;
}


th, td{
    border: 1px solid rgba(0,0,0,0.8);
    border-collapse: collapse;
    text-align: center;
}

th, h3{
    font-family: "Garamond";
    color:rgb(192, 0, 125);
    font-weight: bold;
}

td{
    background-color:rgba(255, 192, 203, 0.45);
}

th:hover{
    background-color:rgba(254, 177, 189, 0.45);
}

td:hover{
    background-color:rgba(255, 76, 106, 0.45);
}


.footer a:active, .footer a{
    color:rgb(0, 0, 0);
    font-size: 18px;
  }

.footer a:visited{
    color:rgb(174, 29, 29);
  }

.footer a:hover{
    color:rgb(168, 163, 29);
  }

.footer{
    font-family: 'lucida sans';
    font-size: 18px;
  }


  @media screen and (max-width: 1020px) {
    .topnav .flexcontainer{
        display: block;
    }
    .topnav a{
        display: block;
        float: left;
        width: 100%
        }
  }


 @media screen and (min-width:360px) and (max-width:690px){
    th{
        display: none;
    }
    
    td{
        display: grid;
        border-collapse: collapse;
        grid-template-columns: 15ch auto;
        
    }

    td img{
        width: 40%;
        display: inline-block;
    }

    td::before{
        content: attr(datacell) ": ";
        font-weight: bold;
        color:rgb(192, 0, 125);
        font-family: "Garamond";
    }

    table{
        margin-left: auto;
        margin-right: auto;
    }
}
  
@media screen and (max-width:360px){
    th{
        display: none;
        
    }

    td{
        display: grid;
        border-collapse: collapse;
        grid-template-columns: 8ch auto;
        font-size: 18px;
        margin-right: 5px;
    }

    

    td::before{
        content: attr(datacell) ": ";
        font-weight: bold;
        color:rgb(192, 0, 125);
        font-family: "Garamond";
    }
}
